.navbar{
  margin: 25px;
  background-color: white;
}

/* ++++++++++++++LOGO in Navbar++++++++++++++ */
#bigLogoImg{
  padding-left: 50px;
  height: 170px;
  width: auto;
}
#midLogoImg{
  padding-left: 50px;

  height: 150px;
  width: auto;
}
#smLogoImg{
  height: 110px;
  width: auto;
}
#lilLogoImg{
  height: 60px;
  width: auto;
}

/* ++++++++++++++Text in Navbar++++++++++++++ */
#navHeadText{
  padding-top: 12px;
  align-text: center;
  font-size: 30px;
    font-size: 1.9vw;
  text-style: bold;
/*   float: left; */
  padding-left: 40px;
  padding-right: 20px;

}
@media (min-width: 768px){
  .navbar-nav {
    float: right;
    margin: 0;
  }
}
@media (min-width: 768px){
  #navHeadText{
  float:right;
  }
}
#phoneNum{
  font-size: 1.2em;
}

/* ++++++++++++++Links in Navbar++++++++++++++ */
#navLinkList  li  a{
  text-align: center;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
}
#navLinkList  li  {
  margin: 0px;
}
#navLinkList  li:hover{
  background-color: hsl(195,70%, 50%);
  /* background-color: yellow; */
}
#navSearch{
  /* float: right; */
  padding-right: 40px;
}
#navSearch span{
  padding-right: 10px;
}
