@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300);


.navbar{
  padding: 2px 27px;
  background-color: rgb(225,222,215);
}

/* ++++++++++++++LOGO in Navbar++++++++++++++ */
#logoImg{
  max-height: 165px;
  width: auto;
}
#bigLogoImg{
  /* padding-right: 200px; */
  height: 165px;
  width: auto;
}
#midLogoImg{
  padding-left: 18px;
  margin-top: 18px;
  height: 120px;
  width: auto;
}
#smLogoImg{
  margin-top: 18px;
  height: 90px;
  width: auto;
}
#lilLogoImg{
  height: 40px;
  width: auto;
}

/* ++++++++++++++Text in Navbar++++++++++++++ */
#navHeadText{
  display: overflow;
  margin: 12px 0px;
  padding-top: 12px;
   font-size: 1.75vw;
/*   text-style: bold;
 */  padding-left: 40px;
/*   padding-right: 12px;
 */  float: right;
/*   padding-right: 20px;
 */  font-family: 'Open Sans', sans-serif;
  font-weight: Bold;
  color: rgb(17,85,82);
}
/* @media (min-width: 768px){
  .navbar-nav {
      float: right;
     margin: 0;
  }
} */
 @media (max-width: 768px){
  #navHeadText{
  float:right;
  vertical-align: middle;
  }
}

.brLine{
  display: block;
}
@media screen and (min-width: 768px){
  .brLine {
    display: inline;
  }
}
#phoneNum{
  font-size: 1.15em;
}

/* ++++++++++++++Links in Navbar++++++++++++++ */

#navLinkList{
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: auto;
  }
#navLinkList  li  a{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.85vw;
  color: rgb(17,85,82);
  padding-left: 12%;
  padding-right: 12%;
}

/* #navLinkList  li  a:last-child{
  padding-right:7px;
  padding-left: 7px;
} */

#navLinkList  li  {
  margin-left: 10px;
  white-space: nowrap;

}
#navLinkList  li:hover{
  background-color:hsla(120, 100%, 21%, 0.84);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

/* ++++++++++++++Search in Navbar++++++++++++++ */

.navbar-form{
  padding: 0;
}
#searchBox{
  color: rgb(17,85,82);
  width: 255px;
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
#navSearch{
  display: inline;
  float: right;
  position: relative;
  top: 10px;
  right: 10px;
}
.fa{
  padding-right: 20px;
  color: rgb(17,85,82);
}

#navSearch span{
  padding-right: 12px;
  padding-left: 75px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  color: rgb(17,85,82);
  font-size: 1.45em;
}
